QuickScanTool_v2.1.1404/Scanner/TWAIN/twain_32/KMTWAIN/N_SCANPARAMLIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
KYOCERA MITA Confidential.
Copyright (c) 2010 KYOCERA MITA Corporation
All right reserved.
(2009/4/9)
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:complexType name="FRAME_CAPABILITY_ENTRY">
    <xsd:sequence>
      <xsd:element name="max_width" type="xsd:float" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="max_length" type="xsd:float" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="SCAN_PARAM_ENTRY">
    <xsd:sequence>
      <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="original_size" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="original_orientation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="original_image" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="resolution" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="exposure_level" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="duplex" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="color_selection" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="prevent_bleed_through" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="sending_size" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="contrast" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="reverse_image" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="frame_entry" type="FRAME_CAPABILITY_ENTRY" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="rotation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="param">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="set" type="SCAN_PARAM_ENTRY" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>