QuickScanTool_v2.1.1404/Scanner/TWAIN/twain_32/KMTWAIN/USERINFOCONFIG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
KYOCERA MITA Confidential.
Copyright (c) 2009 KYOCERA MITA Corporation
All right reserved.
(2009/4/27)
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="DEVICE_NAME_TYPE">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="KM-2560"/>
      <xsd:enumeration value="KM-3060"/>
      <xsd:enumeration value="TASKalfa 250ci"/>
      <xsd:enumeration value="TASKalfa 300ci"/>
      <xsd:enumeration value="TASKalfa 400ci"/>
      <xsd:enumeration value="TASKalfa 500ci"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="ON_OFF_TYPE">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OFF"/>
      <xsd:enumeration value="ON"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="USER_INFO_ENTRY">
    <xsd:sequence>
      <xsd:element name="account_mode" type="ON_OFF_TYPE" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="account_code" type="xsd:string"/>
      <xsd:element name="auth_mode" type="ON_OFF_TYPE" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="login_username" type="xsd:string"/>
      <xsd:element name="login_password" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ADDRESS_INFO_ENTRY">
    <xsd:sequence>
      <xsd:element name="address" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DEVICE_INFO_ENTRY">
    <xsd:sequence>
      <xsd:element name="device_name" type="DEVICE_NAME_TYPE" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="param">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="user_info" type="USER_INFO_ENTRY" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="address_info" type="ADDRESS_INFO_ENTRY" minOccurs="0" maxOccurs="5"/>
        <xsd:element name="device_info" type="DEVICE_INFO_ENTRY" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>